<h2>Home</h2>

<%# <%= icon('fa-brands', 'font-awesome')%> 
<%# <%= icon('fa-solid', 'user-secret') %> 

<i class="fa-brands fa-fort-awesome text-4xl text-blue-600"></i>
<i class="fa-solid fa-user-secret text-4xl text-red-600"></i>